In [24]:
l1 = ["apple", "banana", "cherry"]
print(len(l1))

3

In [11]:
dir(list)
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [13]:
a=[1,3,4,5,8]
a.reverse()
print(a)

[8, 5, 4, 3, 1]

In [14]:
type(a)

list

In [15]:
a.index(3)

3

In [17]:
a.sort()
print(a)

[1, 3, 4, 5, 8]

In [20]:
print(a[::-1])

[8, 5, 4, 3, 1]

In [25]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [26]:
p=[1,2,3,4]
p.insert(1,10)
print(p)

[1, 10, 2, 3, 4]

In [29]:
s=[1,2,3,3,2,1]
type(s)

list

In [30]:
print(s)

[1, 2, 3, 3, 2, 1]

In [31]:
q=set(s)
print(q)

{1, 2, 3}

In [36]:
my_list = [3, 'apple', 2.5, 'banana', 1]
str_list = [str(item) for item in my_list]
str_list.sort()
print(str_list)

['1', '2.5', '3', 'apple', 'banana']

In [37]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [39]:
#1. i) Write a program to convert a list and tuple into arrays
import numpy as np
my_list = [1, 2, 3, 4, 5]
my_tuple = (10, 20, 30, 40, 50)
list_array = np.array(my_list)
tuple_array = np.array(my_tuple)
print("Array from list:", list_array)
print("Array from tuple:", tuple_array)

Array from list: [1 2 3 4 5]
Array from tuple: [10 20 30 40 50]

In [40]:
#1 ii)Write a program to find common values between two arrays
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

set1 = set(list1)
set2 = set(list2)

common_values = set1 & set2

common_values_list = list(common_values)

print("Common values:", common_values_list)

Common values: [4, 5]

In [41]:
#2. Write a function called gcd that takes parameters a and b and returns their greatest common divisor
import math

def gcd(a, b):
    return math.gcd(a, b)

num1 = 48
num2 = 18
print(f"The GCD of {num1} and {num2} is {gcd(num1, num2)}")

The GCD of 48 and 18 is 6

In [42]:
#3.Palindrome
def palindrome(s):
    s = s.lower()
    s = s.replace(" ", "")
    s1=s[::-1]
    if s==s1:
        print("palindrome")
    else:
        print("not palindrome")

test_string = "racecar"
palindrome(test_string)

palindrome

In [43]:
#4. Find mean, median, mode for the given set of numbers in a list.
import statistics
list3=[10,20,30,40,50,60,60]
list3_mean=statistics.mean(list3)
list3_median=statistics.median(list3)
list3_mode=statistics.mode(list3)
print(f"MEAN= {list3_mean}")
print(f"MEDIAN= {list3_median}")
print(f"MODE= {list3_mode}")

MEAN= 38.57142857142857
MEDIAN= 40
MODE= 60

In [49]:
# 5. Write a Python program to create a tuple.
tuple1=(478,456,98)
print(tuple1)
print(type(tuple1))

(478, 456, 98)
<class 'tuple'>

In [51]:
# 6. Write a Python program to create a tuple with different data types.
tuple2=("hello",123,True)
print(tuple2)

('hello', 123, True)

In [52]:
# 7. Write a Python program to check whether an element exists within a tuple.
tuple3=("hi",1,2,3,False)
print("hi" in tuple3)

True